@model List<Schuellerrat.ViewModels.AllEventsViewModel>
<body class="header-sticky">
    <main>
        <!-- Slider -->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <div class="container-fluid" style="background-image: url('/img2/fakli.jpg'); height: 90vh; background-size: cover ">
                </div>
            </div>
        </div>
        <div class="flat-row lastest-new">
            <div class="container">
                <div class="flat-title-section">
                    <h1 class="title">ПОСЛЕДНИ СЪБИТИЯ</h1>
                </div>
                <div class="row post-lastest-new">
                    @for (int i = 0; i < @Model.Count; i++)
                    {
                        <div class="post col-md-4 col-xs-12 col-sm-6 flat-hover-zoom">
                            <div class="featured-post">
                                <div class="entry-image">
                                    <img src="@Model[i].Cover.Path"
                                         alt="image"/>
                                </div>
                            </div>
                            <div class="date-post">
                                <span class="numb">@Model[i].Day</span>
                                <span>@Model[i].Month</span>
                            </div>
                            <div class="content-post">
                                <h2 class="title-post">
                                    <a href="flat-information.html">
                                        @Model[i].Title
                                    </a>
                                </h2>

                                <div class="entry-content">
                                    <p>
                                        @Model[i].ShortDescription
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                </div>
            </div>
    </main>
</body>
