@model ICollection<Schuellerrat.ViewModels.ClubViewModel>

<body class="header-sticky">
    <div class="boxed">
        <main>
            <div class="page-title parallax parallax4">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h2 class="title">
                                    Извънкласни дейности и клубове
                                </h2>
                            </div>
                            <!-- /.page-title-heading -->
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="#">Начало</a></li>
                                    <li>Извънкласни дейности</li>
                                </ul>
                            </div>
                            <!-- /.breadcrumbs -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /page-title parallax -->

            <section class="main-content blog-posts flat-row course-grid">
                <div class="container">
                    <div class="blog-title clearfix">
                        <h1 class="bold">Извънкласни дейности</h1>
                    </div>
                    <div class="row" style="margin: 0px">
                        <div class="post-warp clearfix col-md-12 p-0" style="width: 100%; ">
                            <div class="flat-course flat-hover-zoom" style="width: 100%;">
                                
                                <!-- /.featured-post -->
                                <div class="row m-0 p-0" style=" width: 100%;">

                                    @foreach (var club in Model)
                                    {
                                        <div class="col-md-3">
                                            <div class="course-content border-top" style="padding-top: 25px;">
                                                <h4>
                                                    <span>@club.Title</span>
                                                </h4>
                                                <ul class="course-meta review clearfix">
                                                    <li class="author">
                                                        <div class="thumb">
                                                            <img src="images/flickr/4.jpg"
                                                                 alt="image" />
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="mb-4">
                                                    @club.ShortDescription
                                                </div>
                                                <ul class="list-group-flush">
                                                    <li class="list-group-item">
                                                        <span>Кога<br></span>
                                                        <span>@club.Time</span>
                                                    </li>

                                                    <li class="list-group-item">
                                                        <span>За кого<br></span>
                                                        <span>@club.MinClass. - @club.MaxClass. клас</span>
                                                    </li>

                                                    <li class="list-group-item">
                                                        <span>Отговорник<br></span>
                                                        <span>@club.Leader</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- /.course-content -->
                            </div>
                        </div>

                        <!-- / .post-wrap -->
                        @* PAGINATION *@

                        <!--<div class="blog-pagination">
                            <ul class="flat-pagination">
                                <li><span class="active">1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next">
                                    <a href="#">Next</a>
                                </li>
                            </ul>-->
                        <!-- /.flat-pagination -->
                        <!--</div>-->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </section>
            <!-- /main-content -->
        </main>
    </div>
    <!-- /.boxed -->
</body>
