@model ICollection<Schuellerrat.ViewModels.AllEventsViewModel>
@{
    var currentPage = @Model.ToList()[0].CurrentPage;
    var pageCount = @Model.ToList()[0].PageCount;
}
<body>
    <main>
        <section class="main-content blog-posts blog-grid have-sidebar">
            <div class="container" style="">
                <div class="blog-title">
                    <h1 class="bold">Нашите събития</h1>
                </div>
                <div class=""style="width: 100%">
                <div class="post-wrap clearfix row" style="width: 100%">
                 @foreach (var singleEvent in Model)
                 {
                      <article style="height: 500px;" class="post flat-hover-zoom col-md-4 mb-5" >
                          <div class="featured-post">
                              <div class="entry-image" style="height: 350px; background: url('@singleEvent.Cover.Path'); background-size: cover; background-position: center">
                                  @*<img style="height: 250px" src="@singleEvent.Cover.Path" alt="image">*@
                              </div>
                          </div>
                          <div class="date-post">
                              <span class="numb">@singleEvent.Day</span>
                              <span>@singleEvent.Month</span>
                          </div>
                      
                          <div class="content-post">
                              <h2 class="title-post">
                                  <a asp-controller="Events" asp-action="Details" asp-route-id="@singleEvent.Id">@singleEvent.Title</a>
                              </h2>
                              <div class="">
                                  <p>@singleEvent.ShortDescription</p>
                              </div><!-- /entry-post -->
                          </div>
                      </article><!-- /post -->
                 }
            </div>
                <div class="col-md-12 mt-3">
                    <nav class="blog-pagination" aria-label="Page navigation">
                        <ul class="flat-pagination">
                            <li class="page-item @if (!(currentPage - 1 > 0)) { <text>disabled</text> }">
                                <a class="page-link" asp-action="All" asp-route-id="@(currentPage-1)">«</a>
                            </li>
                            @for (int i = currentPage - 4; i < currentPage; i++)
                            {
                                if (i > 0)
                                {
                                    <li class=""><a class="" asp-action="All" asp-route-id="@i">@i</a></li>
                                }
                            }
                            <li class="active" style="padding: 0"><a class="" href="#">@currentPage</a></li>
                            @for (int i = currentPage + 1; i <= currentPage + 4; i++)
                            {
                                if (i <= pageCount+1)
                                {
                                    <li class=""><a class="" asp-action="All" asp-route-id="@i">@i</a></li>
                                }
                            }
                            <li class="page-item @if (!(currentPage + 1 < pageCount)) { <text>disabled</text> }">
                                <a class="page-link" asp-controller="Events" asp-action="All" asp-route-id="@(currentPage+1)">»</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                </div>
            </div><!-- /row -->
        </section><!-- /main-content -->
    </main>

</body>