@using System.Globalization
@model Schuellerrat.ViewModels.SingleEventViewModel
@{
    var paragraphTexts = Model.ParagraphTexts;
    var paragraphTitles = Model.ParagraphTitles;
    var images = Model.Images;
    var date = DateTime.ParseExact(Model.EventDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);

}

<body class="header-sticky">
    <main>
        <div class="page-title parallax parallax4">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h2 class="title">@Model.Title</h2>
                        </div><!-- /.page-title-heading -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a asp-controller="Events" asp-action="All">Събития</a></li>
                                <li>@Model.Title</li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /page-title parallax -->

        <section class="main-content blog-posts style-v1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-title-single">
                            <h1 class="bold">@Model.Title</h1>
                            <article class="entry clearfix">
                                <div class="entry-border">
                                    <div class="main-post">
                                        <div class="wrap-img">
                                            <div class="entry-meta">
                                                <span class="date capitalized-date">@date.ToString("D", CultureInfo.CreateSpecificCulture("bg-BG"))</span>
                                            </div>
                                        </div>
                                        <div class="feature-post">
                                            <img style="width: 100%;" src="@Model.Images.ToList()[0].Path" alt="image">
                                        </div><!-- /.feature-post -->
                                        <div class="entry-content">
                                            @for (int i = 0; i < paragraphTexts.Count; i++)
                                            {
                                                <h4>@paragraphTitles.ToList()[i]</h4>
                                                <p>
                                                    @paragraphTexts.ToList()[i]
                                                </p>
                                            }
                                        </div><!-- /.entry-post -->
                                    </div>
                                </div><!-- /.entry-border -->
                            </article><!-- /entry clearfix -->


                        </div><!-- /blog-title-single -->
                    </div><!-- /col-md-8 -->



                    <div class="sidebar">
                        <div class="widget widget-popular-news">
                            <h5 class="widget-title">Recent posts</h5>
                            <ul class="popular-news clearfix">
                                <li>
                                    <div class="thumb">
                                        <img src="images/flickr/1.jpg" alt="image">
                                    </div>
                                    <div class="text">
                                        <a href="#">New Chicago school budget relies on state pension</a>
                                        <p>May 18, 2016</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <img src="images/flickr/2.jpg" alt="image">
                                    </div>
                                    <div class="text">
                                        <a href="#">New Chicago school budget relies on state pension</a>
                                        <p>May 18, 2016</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <img src="images/flickr/3.jpg" alt="image">
                                    </div>
                                    <div class="text">
                                        <a href="#">New Chicago school budget relies on state pension</a>
                                        <p>May 18, 2016</p>
                                    </div>
                                </li>
                            </ul><!-- /popular-news clearfix -->
                        </div><!-- /widget widget-popular-news -->
                    </div><!-- /sidebar -->
                    <section id="carousel-section" style="border: 1px solid yellow; width: 80%">
                        <h2 class="descriptions"> Screenshots</h2>
                        <div class="carousel slide" id="main-carousel" data-ride="carousel" style="border: 1px solid red; height: 500px">
                            <ol class="carousel-indicators">
                                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                                @for (int i = 1; i < Model.Images.Count; i++)
                                {
                                    <li data-target="#main-carousel" data-slide-to="@i"></li>
                                }
                            </ol>
                            <div class="carousel-inner" style="height: 100%">
                                @foreach (var image in Model.Images)
                                {

                                    <div class="carousel-item @(image == Model.Images.First() ? "active" : "")" style="border: 1px solid blue; background: url('@image.Path') no-repeat; background-size: cover; background-position: center; height: 100%">
                                        @*<img style="height: 100%" src="@image.Path">*@
                                    </div>
                                }
                            </div>
                            <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                <span class="sr-only" aria-hidden="true">Prev</span>
                            </a>
                            <a href="#main-carousel" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                                <span class="sr-only" aria-hidden="true">Next</span>
                            </a>
                        </div>
                    </section>
                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /main-content -->
    </main>
</body>