@using System.Globalization
@model Schuellerrat.ViewModels.SingleEventViewModel
@{
    var paragraphTexts = Model.ParagraphTexts;
    var paragraphTitles = Model.ParagraphTitles;
    var images = Model.Images;
    var date = DateTime.ParseExact(Model.EventDate, "dd/MM/yyyy", CultureInfo.InvariantCulture);
    var CarouselImages = Model.Images.Skip(1);

}

<body class="header-sticky">
    <main>
        <div class="page-title parallax parallax4">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h2 class="title">@Model.Title</h2>
                        </div><!-- /.page-title-heading -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a asp-controller="Events" asp-action="All">Събития</a></li>
                                <li>@Model.Title</li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /page-title parallax -->

        <section class="main-content blog-posts style-v1 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md- col-sm-12 p-0">
                        <div class="blog-title-single">
                            <article class="entry clearfix">
                                <div class="entry-border">
                                    <div class="main-post">
                                        <div class="wrap-img">
                                            <div class="entry-meta pl-4">
                                                <span class="date capitalized-date">@date.ToString("D", CultureInfo.CreateSpecificCulture("bg-BG"))</span>
                                            </div>
                                        </div>
                                        @if (@Model.Images.Any())
                                        {
                                            <div class="feature-post" style="padding: 0; width: 100%; height: 70vh; background: url('@Model.Images.ToList()[0].Path'); background-size: cover; background-repeat: no-repeat; background-position: center">
                                                @*<img style="width: 100%; max-height: 50vh" src="@Model.Images.ToList()[0].Path" alt="image">*@
                                            </div><!-- /.feature-post -->
                                        }
                                        <div class="entry-content pl-4 pr-4">
                                            @for (int i = 0; i < paragraphTexts.Count; i++)
                                            {
                                                <h4>@paragraphTitles.ToList()[i]</h4>
                                                <p>
                                                    @paragraphTexts.ToList()[i]
                                                </p>
                                            }
                                        </div><!-- /.entry-post -->
                                    </div>
                                </div><!-- /.entry-border -->
                            </article><!-- /entry clearfix -->


                        </div><!-- /blog-title-single -->
                    </div><!-- /col-md-8 -->



                    @if (CarouselImages.Any())
                    {

                        <section id="carousel-section" style="width: 100%">
                            <h2 class="descriptions page-title-heading pl-4-" style="font-weight: bold ; font-family: Montserrat,">Снимки</h2>
                            <div class="carousel slide" id="main-carousel" data-ride="carousel" style="height: 666px">
                                <ol class="carousel-indicators">
                                    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                                    @for (int i = 1; i < Model.Images.Count; i++)
                                    {
                                        <li data-target="#main-carousel" data-slide-to="@i"></li>
                                    }
                                </ol>
                                <div class="carousel-inner" style="height: 100%">
                                    @foreach (var image in CarouselImages)
                                    {

                                        <div class="carousel-item @(image == CarouselImages.First() ? "active" : "")" style="border: 1px solid blue; background: url('@image.Path') no-repeat; background-size: cover; background-position: center; height: 100%">
                                            @*<img style="height: 100%" src="@image.Path">*@
                                        </div>
                                    }
                                </div>
                                <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                    <span class="sr-only" aria-hidden="true">Prev</span>
                                </a>
                                <a href="#main-carousel" class="carousel-control-next" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                    <span class="sr-only" aria-hidden="true">Next</span>
                                </a>
                            </div>
                        </section>
                    }
                </div><!-- /row -->
            </div><!-- /container -->
        </section><!-- /main-content -->
    </main>
</body>