@model Schuellerrat.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "За училището";
}
<body class="header-sticky">
    <main>
        <div class="page-title parallax parallax4">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h2 class="title">@this.ViewData["Title"]</h2>
                        </div><!-- /.page-title-heading -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Начало</a></li>
                                <li>@this.ViewData["Title"]</li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /page-title parallax -->
        <!-- About -->
        <section class="flat-row pad-top-100 flat-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-tabs about-us" data-effect="fadeIn">
                            <div class="content-tab clearfix">
                                <div class="content-inner">
                                    <div class="text-tab">
                                        <div class="flat-title">
                                            <h1>@Model.Title<span></span></h1>
                                        </div><!-- /.flat-title -->
                                        @foreach (var paragraph in Model.Paragraphs)
                                        {
                                            <p>@paragraph.Content</p>
                                        }
                                    </div><!-- /.text-tab -->
                                    <div class="images-tab">
                                        <img src="@Model.Images.ToList()[0].Path" alt="images">
                                    </div>
                                </div><!-- /.content-inner -->

                            </div><!-- /.content-tab -->
                        </div><!-- /.flat-tabs -->
                    </div><!-- /col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
    </main>
</body>

